<!-- Header -->
<section id="header" style="padding-top:2em;padding-bottom:2em;">
  <div class="inner">
    <span class="icon major"></span>
    <a href="/" style="border:0px;"><img src="/images/Photon-forge-logo.png" alt="PhotonForge-logo"></img></a>
    <h1>Hi, we are a small games company from Sweden<br /> 
    and we created Kangaroo Dash!</h1>
    <p style="text-align:center">(we also think that VR is the next big thing and we can't wait for you to play our games)</p>
    <ul class="actions">
      <li><a href="#one" class="button scrolly">Let's Go!</a></li>
    </ul>
  </div>
</section>